<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <span class="title">CREATE PRODUCT</span>
                    <form class="mt-3" [formGroup]="productForm" (ngSubmit)="saveProduct()">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input
                                formControlName="name"
                                type="text"
                                class="form-control" 
                                placeholder="Laptop"
                                id="name"
                            >
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Category</label>
                            <input
                                formControlName="category"
                                type="text"
                                class="form-control"
                                placeholder="Tech"
                                id="category"
                            >
                        </div>
                        <div class="mb-3">
                            <label for="location" class="form-label">Location</label>
                            <input
                                formControlName="location"
                                type="text"
                                class="form-control"
                                id="location"
                                placeholder="Lima"
                            >
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input
                                formControlName="price"
                                type="number"
                                class="form-control"
                                id="price"
                                placeholder="100"
                            >
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-secondary float-start" routerLink="/products">BACK</button>
                            <button type="submit" class="btn btn-success float-end">SAVE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>